body {
    background-color: grey; 
}
p, th{
    color: black;
    font-size: medium;
}
marquee{
    color: #00ff00;
    font-family: "Courier New";
    font-size: xx-large;

}
h1{
    color:#00ff00;
    font-family: "Courier New";
    font-size: xx-large;
}
table, th, td{ border: 1px dashed black;
border-collapse: collapse;}
td{text-align: center;
color: black;
    font-size: medium;}